{% extends 'base.html' %}

{% block main %}
<main class="container mt-3">
  <!-- HERO -->
  <section class="jumbotron text-center mt-4" style="background-color: #fff;">
    <h1 class="display-4">Туры</h1>
    <p class="lead">{{ main['subtitle'] }}</p>
    <p class="mt-5 w-50 mx-auto">{{ main['desc'] }}</p>
  </section>
  <!-- CARDS -->
  <div class="row mt-5">

    {% for tour_id, tour in  main['tours'].items() %}

    <div class="col-4">
      <div class="card mb-4">
        <div class="embed-responsive embed-responsive-16by9">
           <img class="card-img-top embed-responsive-item" src="{{ tour['pic'] }}" alt="" />
        </div>
        <div class="card-body">
          <h2 class="h5 card-title">{{ tour['title'] }}</h2>
          <p class="card-text">{{ tour['desc']|truncate(100) }}</p>
          <a href="{{ url_for('render_tour', tour_id=tour_id) }}" class="btn btn-sm btn-primary">Подробнее</a>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>
</main>
{% endblock main %}